<!DOCTYPE html>
<html>
<head>
  <title>Sketchbook</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= form_for @sketch, url: {action: "create"}, html: { multipart: true } do |f| %>
  <%= f.file_field :image %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.submit %>
<% end %>

</body>
</html>
